@import "tailwindcss";

:root {
  --background: #eff6ff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes slideup {
    0% {
        opacity:0;
        transform:translateY(30px);
    }

    /* 50% {
        opacity:0.5;
        transform:translateY(15px);
    } */

    100%{
        opacity:1;
        transform:translateY(0);
    }
}

.animate-slide{
    animation:slideup 0.6s ease-in forwards;
    animation-delay:0.2s;
}

.button {
    @appy text-white p-2 bg-blue-600 font-semibold rounded-md hover:text-foreground;
}

.primary{
    @apply text-white p-1 bg-sky-300 font-bold rounded-md hover:bg-blue-600 hover:text-foreground;
}

.label{
    @apply text-foreground font-semibold;
}

.input{
    @apply w-full outline-1 p-1 focus:text-gray-500 rounded focus:outline-none focus:ring-2 focus:ring-blue-400;
}